@model User
@{
    Layout = "_LayoutAuth";
}
<div class="container" style="padding-left:40%; padding-top:20%;">
    <h2>Авторизация</h2>
    <form asp-controller="SignIn" asp-action="Check">
        <p class="font-monospace">
            <label asp-for="login">Login</label><br />
            <input type="text" asp-for="login" />
        </p>
        <p class="font-monospace">
            <label asp-for="password">Password</label><br />
            <input type="text" asp-for="password" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</div>
     